body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

#container {
    font-family: sans-serif;
    background-color: #262335;
    color: #ffffffcc;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 240px;
    height: 360px;

    padding: 32px 24px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#container h1 {
    font-size: 18pt;
}